$font: 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
}

.main-cadastrar-obras{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    font-family: $font;
}

.model-ver-imagem{
    max-width: 70%;
    max-height: 80%;
    padding: 2%;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    box-shadow: -3px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    
}

.model-ver-imagem > img{
    min-width: 90%;
    min-height:90%;
    object-fit: cover;
    image-rendering: auto;
}

.model-ver-imagem-btn{
    width: 100%;
    height: 5vh;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.model-ver-imagem-btn > button{
    width: 7vw;
    height: 3vh;
    background-color: #349A46;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.model-autores{
    width: 30%;
    height: 35%;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    box-shadow: -3px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.model-autores > h3{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #349A46;

}

.model-autores-input{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.model-autores-input > p {
    width: 80%;
    height: 25%;
    font-weight: 600;
    color: #2F4F4F;
}

.model-autores-input > input{
    width: 78%;
    height: 30%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #F4F4F4;
    padding-left: 10px;
    padding-right: 10px;
}

.model-autores-btn{
    width: 78%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-autores-btn > button{
    width: 45%;
    height: 50%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.model-autores-btn-cadastrar{
    background-color: #349A46;
    color: #fff;
}

.model-autores-btn-cadastrar:hover{
    background-color: #2F4F4F;
}

.model-autores-btn-cancelar:hover{
    background-color: #cecccc;
}

.links-cadastrados{
    width: 30%;
    height: 40%;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    box-shadow: -3px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links-cadastrados > h3{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #349A46;

}

.links-cadastrados-container{
    width: 98%;
    height: 60%;
    display: flex;
    align-items: center;

    flex-direction: column;
    overflow: auto;
}

.links-cadastrados-container::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.links-cadastrados-container::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}

.links-cadastrados-container-link{
    width: 90%;
    height: 20%;
    min-height: 20%;
    margin-bottom: 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #2F4F4F;
    color: #2F4F4F;
    font-weight: 400;
    font-size: 0.8rem;
  
}

.links-cadastrados-container-link > a{
    width: 80%;
    height: 55%;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.links-cadastrados-container-link-apagar{
    width: 8%;
    height: 90%;
    background-color: #349A46;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
}

.links-cadastrados-container-link-apagar > svg{
    width: 65%;
    height: 65%;
    color: #fff;
}

.links-cadastrados-btn{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-cadastrados-btn > button{
    width: 30%;
    height: 65%;
    background-color: #349A46;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-cadastrar-obras-container{
    width: 65%;
    height: 90%;
    background-color: #fff;
    border-radius: 0 20px 0 0;
    box-shadow: -3px 4px 10px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-obras-container-titulo{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #349A46;
}

.main-cadastrar-obras-container-titulo > h1{
    font-size: 3rem;
    letter-spacing: 10px;
}

.main-cadastrar-obras-container-formulario{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cadastrar-obras-container-formulario-esquerda{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
}

.main-cadastrar-obras-container-formulario-esquerda-titulo{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-obras-container-formulario-esquerda-titulo > p{
    width: 70%;
    height: 35%;
    color: #2F4F4F;
    font-weight: 600;
}

.main-cadastrar-obras-container-formulario-esquerda-titulo > input{
    width: 67%;
    height: 35%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    font-weight: 400;
    font-family: $font;
    font-size: 0.9rem;
}

.main-cadastrar-obras-container-formulario-esquerda-descricao{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-obras-container-formulario-esquerda-descricao > p{
    width: 70%;
    height: 9%;
    color: #2F4F4F;
    font-weight: 600;
}

.main-cadastrar-obras-container-formulario-esquerda-descricao > textarea{
    width: 67%;
    height: 85%;
    min-height: 85%;
    min-width: 67%;
    max-width: 67%;
    max-height: 85%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    font-weight: 400;
    font-family: $font;
    font-size: 0.9rem;
    resize: none;
}

.main-cadastrar-obras-container-formulario-esquerda-descricao > textarea::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.main-cadastrar-obras-container-formulario-esquerda-descricao > textarea::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}

.main-cadastrar-obras-container-formulario-esquerda-link{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-obras-container-formulario-esquerda-link > p{
    width: 70%;
    height: 35%;
    color: #2F4F4F;
    font-weight: 600;
}

.main-cadastrar-obras-container-formulario-esquerda-link-input{
    width: 71%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-cadastrar-obras-container-formulario-esquerda-link-input > input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    font-weight: 400;
    font-family: $font;
    font-size: 0.9rem;
}

.main-cadastrar-obras-container-formulario-esquerda-link-input > button{
    width: 8%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #349A46;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.ver-links{
    width: 70%;
    font-size: 0.7rem;
    color: #2F4F4FBF;
    text-decoration: none;
    cursor: pointer;
}

.ver-links:hover{
    color: #002c5e;
}

.main-cadastrar-obras-container-formulario-direita{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;

}

.main-cadastrar-obras-container-formulario-direita-autores{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.main-cadastrar-obras-container-formulario-direita-autores > ul{
    position: absolute;
    height: 25%;
    width: 60%;
    font-size: 0.75rem;
    bottom: -15%;
    transform: translateX(-8%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.main-cadastrar-obras-container-formulario-direita-autores > ul > il{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #349A46;
    cursor: pointer;
}

.main-cadastrar-obras-container-formulario-direita-autores > p{
    width: 70%;
    height: 35%;
    color: #2F4F4F;
    font-weight: 600;
}

.main-cadastrar-obras-container-formulario-direita-autores-input{
    width: 71%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-cadastrar-obras-container-formulario-direita-autores-input > select{
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    font-weight: 400;
    font-family: $font;
    font-size: 0.9rem;
}

.main-cadastrar-obras-container-formulario-direita-autores-input > button{
    width: 8%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #349A46;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.main-cadastrar-obras-container-formulario-direita-autores-resumo{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-obras-container-formulario-direita-autores-resumo > textarea::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.main-cadastrar-obras-container-formulario-direita-autores-resumo > textarea::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}

.main-cadastrar-obras-container-formulario-direita-autores-resumo > p{
    width: 70%;
    height: 18%;
    color: #2F4F4F;
    font-weight: 600;
}

.main-cadastrar-obras-container-formulario-direita-autores-resumo > textarea{
    width: 67%;
    height: 70%;
    min-height: 70%;
    min-width: 67%;
    max-width: 67%;
    max-height: 70%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    font-weight: 400;
    font-family: $font;
    font-size: 0.9rem;
    resize: none;
}

.main-cadastrar-obras-container-formulario-esquerda-descricao > textarea::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.main-cadastrar-obras-container-formulario-esquerda-descricao > textarea::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}

.main-cadastrar-obras-container-formulario-direita-topicos{
    width: 100%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;


}

.main-cadastrar-obras-container-formulario-direita-topicos > ul{
    width: 70%;
    height: 38%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 0.75rem;
    color: #fff;

}

.main-cadastrar-obras-container-formulario-direita-topicos > ul > il{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #349A46;
    cursor: pointer;
}


.main-cadastrar-obras-container-formulario-direita-topicos > p{
    width: 70%;
    height: 27%;
    color: #2F4F4F;
    font-weight: 600;
}

.main-cadastrar-obras-container-formulario-direita-topicos-input{
    width: 71%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-cadastrar-obras-container-formulario-direita-topicos-input > select{
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    font-weight: 400;
    font-family: $font;
    font-size: 0.9rem;
}

.main-cadastrar-obras-container-formulario-direita-topicos-input > button{
    width: 8%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #349A46;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.main-cadastrar-obras-container-formulario-direita-imagens{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-obras-container-formulario-direita-imagens > p{
    width: 70%;
    height: 35%;
    color: #2F4F4F;
    font-weight: 600;
}

.main-cadastrar-obras-container-formulario-direita-imagens-input{
    width: 71%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-cadastrar-obras-container-formulario-direita-imagens-input > input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F4F4F4;
    border-radius: 20px;
    font-weight: 400;
    font-family: $font;
    font-size: 0.9rem;
}

.main-cadastrar-obras-container-formulario-direita-imagens-input > button{
    width: 8%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #349A46;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.main-cadastrar-obras-container-formulario-direita-publicar{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cadastrar-obras-container-formulario-direita-publicar > button{
    width: 70%;
    height: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #349A46;
    cursor: pointer;
    font-size: 1rem;
    font-family: $font;
    font-weight: 500;
    letter-spacing: 1px;
}