$font: 'Roboto', sans-serif;

.main-deletar-obras{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 0;
}

.main-deletar-obras-container{
    width: 65%;
    height: 90%;
    background-color: #fff;
    border-radius: 0 20px 0 0;
    box-shadow: -3px 4px 10px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-deletar-obras-container-titulo{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #349A46;
}

.main-deletar-obras-container-titulo > h1{
    font-size: 3rem;
    letter-spacing: 10px;
}

.main-deletar-obras-container-pesquisa{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

}

.main-deletar-obras-container-pesquisa > p{
    height: 35%;
    display: flex;
    align-items: center;
    font-family: $font;
    color: #2F4F4F;
    font-weight: 600;
}

.main-deletar-obras-container-pesquisa-input-lupa{
    width: 3%;
    height: 60%;
    background-color: #D9D9D9;
    margin-right: 1.5%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-deletar-obras-container-pesquisa-input-lupa > svg{
    width: 70%;
    height: 70%;
}

.main-deletar-obras-container-pesquisa-input{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
}

.main-deletar-obras-container-pesquisa-input > input{
    width: 25%;
    height: 60%;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $font;
    letter-spacing: 0.5px;
}

.main-deletar-obras-container-obras{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main-deletar-obras-container-obras::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.main-deletar-obras-container-obras::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}

.main-deletar-obras-container-obras > h1{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f4f4fa2;
    font-family: $font;
    font-size: 2rem;
    font-weight: 600;
    
}

.main-deletar-obras-container-obras-container{
    width: 98%;
    margin-top: 4%;
    display: flex;

}

.main-deletar-obras-container-obras-container-check{
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-deletar-obras-container-obras-container-check > svg{
    cursor: pointer;
    color: #2f4f4fc0;
}

.main-deletar-obras-container-obras-container-obra{
    width: 95%;
    height: 20vh;
}

.main-deletar-obras-container-obras-container-obra > h2{
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #349A46;
    letter-spacing: 0.5px;
    padding-bottom: 1%;

}

.main-deletar-obras-container-obras-container-obra > p{
    color: #2F4F4F;
    height: 65%;
    overflow: hidden;

}

.main-deletar-obras-container-obras-container-obra > h4{
    height: 29%;

    display: flex;
    align-items: center; 
    justify-content: end;
    color: #2F4F4F;
    font-weight: 400;

}

.main-deletar-obras-container-btn{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-deletar-obras-container-btn > button{
    width: 45%;
    height: 60%;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-family: $font;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    outline: none;
}

.deletar-cancelar{
    color: #2F4F4F;
    background-color: #DEDEDE;
}

.deletar-apagar{
    color: #fff;
    background-color: #FF6A6A;
}